.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    display: inline-block;
  }

.pagination a{
    color: #fafafa;    
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    text-align: center;
 }

.cat-label{
  background-color: #81acac;
  color: #fff;
  border-radius: 3px;
}

.dark-theme-bg{
  background-color: #186868;
  transition: 0.75s;
}

.white-theme-bg{
  background-color: #fafafa;
  transition: 0.75s;
}

.dark-theme-cl, .dark-theme-cl p{
  color: #eee;
  transition: 0.75s;
}

.white-theme-cl, .white-theme-cl p{
  color: #828282;
  transition: 0.75s;
}

.display-none{
  display: none;
}

#disqus_thread{
  padding: 15px;
  background-color: #186868;
  border-radius: 3px;
  border: 1px solid #fff;
}

.svg-inline {
    height: 1em;
}

.float-left {
  float:left;
}
.float-right {
  float:right;
}

.figure-center {
  margin: auto;
  display: block;
  text-align: center;}

.caption-center{
  margin: auto;
  display: block;
  text-align: center;}
