<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pt-br" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content dark-theme-bg lazy-display display-none" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    {% include analytics.html %}

    <meta name="google-site-verification" content="s67ek0Lp_Tdg9qMQqiDfw4X2Y8f_QyN5DqvC5SlTUjA" />

  </body>

</html>